emacs.d/.smex-items
emacs.d/places
emacs.d/auto-save-list/*
emacs.d/backups/*
emacs.d/elpa/*
emacs.d/eshell/*
emacs.d/tmp/*

gem/
bundle/

vim/git/*
vim/colors/*
vim/view/*

bash/private
bash/outpace
ngrok
