emacs.d/.smex-items
emacs.d/places
emacs.d/auto-save-list/*
emacs.d/backups/*
emacs.d/elpa/*
emacs.d/eshell/*
emacs.d/tmp/*

gem/
bundle/

vim/git/*
vim/colors/*
vim/view/*
vim/swp/*
vim/undo/*

bash/private
bash/outpace
ngrok

lein/credentials.clj

lein/credentials.clj.gpg

lein/repl-history

tmux/resurrect
tmux/plugins
